@import '~bootstrap/scss/bootstrap';

body {
  background-color: #b3ffe6;
  font-family: 'Barlow', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
}
.box {
  background-color: white;
  align-items: center;
  border-style: solid;
  justify-content: center;
  padding: 40px;
}

.success {
  background-color: rgba(13, 231, 21, 0.36);
  color: white;
  font-size: 2em;
}

.failure {
  background-color: rgba(3, 19, 48, 0.4);
  color: white;
  font-size: 2em;
}

.after-auth {
  display: none;
}

.after-start-game {
  display: none;
}

.restart {
  display: none;
}
