@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgba(246, 189, 141, 1);
  font-family: 'Barlow', sans-serif;
  text-align: center;
  color: rgba(143, 40, 40, 1);
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 4em;
  text-align: center;
  color: rgba(142, 37, 11, 1);
  text-decoration: underline wavy;
}

 button {
   color: white
 }

.box {
  background-color: white;
  align-items: center;
  border-style: solid;
  justify-content: center;
  padding: 40px;
}

.success {
  background-color: rgba(225, 148, 148, 0.37);
  color: white;
  font-size: 2em;
}

.failure {
  background-color: rgba(3, 19, 48, 0.4);
  color: white;
  font-size: 2em;
}

.after-auth {
  display: none;
}

.after-start-game {
  display: none;
}

.restart {
  display: none;
}

.message {
  background-color: rgba(225, 148, 148, 0.37);
  color: white;
  font-size: 2em;
}

.get-games-display {
  background-color: rgba(3, 19, 48, 0.4);
  color: white;
}
