@import '~bootstrap/scss/bootstrap';

.box {
  align-items: center;
  border-style: solid;
  justify-content: center;
  padding: 40px;
}

.success {
  background-color: green;
  color: white;
  font-size: 2em;
}

.failure {
  background-color: red;
  color: white;
  font-size: 2em;
}

.after-auth {
  display: none;
}

.after-start-game {
  display: none;
}

.restart {
  display: none;
}
